*{
    margin: 0;
    padding: 0;
}
.banner-section{
    background-image: url('/images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: cover;
    height: 900px;
    background-position: left top;
   
       
}
.banner-content{
   display: flex;
   justify-content: end;
   align-items: flex-end;
}
.banner-content div{
    width: 30%;
    text-align: end;
    padding: 300px;
}
.banner-title{
    font-size: 60px;
    font-weight: 700;
    font-family: sans-serif;
}
.banner-description{
    font-size: 24px;
    margin: 15px 0;
    font-family: sans-serif;
}
.btn-primary{
    padding: 15px;
    background-color: #F15B22;
    color:white;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}
.mid-title{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
}
.mid-para{
    font-size: 20px;
    font-family: sans-serif;
    margin: 15px 0;
    line-height: 30px;
}
.mid{
   margin: 200px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 75%;
   gap: 100px;
}
.text-container {
    display: flex;
    align-items: center;
}
.checkmark {
    color: green;
    font-size: 30px;
    margin-right: 5px;
}
.text {
    font-size: 24px;
}
.plan-icon{
    width: 60%;
    margin: 100px auto;
}
.plan-title{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 20px 0;
}
.plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.watch{
    width: 60%;
    margin: 100px auto;
}
.watch-image{
    background-image: url('/images/watch.png'),url(/images/gradient2.png);
    background-blend-mode: overlay;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding: 40px; 
      
}
.watch-title{
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
}
.btn{
    padding: 15px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    color: #F15B22;
    font-size: 16px;
    font-weight: 700;
    font-family: serif;
}


@media  screen and (max-width:576px) {
    .banner-title ,.banner-description{
        font-size: 14px;
    }
    .btn-primary{
        padding: 10px;
    }
    .banner-content div{
        padding: 60px;
        width:100%;
    }
    .banner-section{
        height: 900px;
    }
    .banner-section{
        height: 300px;
        background-size: cover;
        background-position: left bottom;
    }
    .mid{
        flex-direction: column;
        margin: 50px auto;
    }
    .mid img{
        width: 100%;
    }
    .plan{
        flex-direction: column;
        
    }
    .plan div{
        margin-top: 30px;
    }
    .watch{
        width: 100%;
    }
    .watch-image{
        padding: 10px;
        margin: 10px;
    }
}